<html>

<head>
    <title>Domain</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <link href="/admin/styles/viewDomain.css" rel="stylesheet" />
    <script src="/admin/scripts/viewDomain.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-2">
                    <img class="mb-4" src="/admin/imgs/logo.png" alt="" height="75" />
                </div>
                <div class="col-6 text-center">
                    <div class="row">
                        <div class="col-6 statuslabel">
                            Your Server is on
                        </div>
                        <div class="col-6 status">
                            <%= ip%>:
                                <%= port%>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-flex justify-content-end align-items-center">
                    <button class="btn btn-link" onClick="location.href='https://github.com/kwar0715/mockableExpress/blob/master/readme.md'">Docs</button>
                    <a class="btn btn-sm btn-outline-secondary" href="/admin/logout">Sign out</a
            >
          </div>
        </div>
      </header>

      <form
          method="POST"
          action=<%= (typeof editable !== 'undefined' && editable !== null) ? id : 'domain/add'%>
          class="form-inline"
      >
      <div class="row">
          <div class="col-sd-6">
              <a class="btn btn-sm btn-outline-primary" href="/admin/schedulers">Schedulers <%= runs %></a>
          </div>
          <div class="col-sd-6">
              <a class="btn btn-sm btn-outline-primary" href="/admin/sockets">Sockets</a>
          </div>
          <div class="col-sd-6">
            <a class="btn btn-sm btn-outline-primary" onclick="handleOnNodeAdmin()">Node Admin</a>
          </div>
      </div>
      <div class="form-group row">
        <label for="domainName" class="sr-only">New Domain</label>
        <input
          type="text"
          name="domainName"
          placeholder="New Domain"
          value="<%=  (typeof editable !== 'undefined' && editable !== null)? editable.domainName : ''%>"
          class="form-control"
        />
        <button class="btn btn-primary" type="submit">
          <%= (typeof editable !== 'undefined' && editable !== null) ? 'Edit' : 'Create'%>
        </button>

        <div class="dropdown pull-right">
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#token" onclick="createAuthKey()">Create Token</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#enableUpload" onclick="getEnableUpload()">Enable Upload</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#flushAll" onclick="flushAllUserCommands()">Flush User Data</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#configMysql">Configure Mysql</button>
                <button class="dropdown-item" type="button" data-toggle="modal" data-target="#environment" onclick="onEnvironmentClick()">Environment</button>
                <button class="dropdown-item" type="button" onClick='window.open("/status");'>Monitor</button>
            </div>
          </div>


      </div>   
      </form>


<!-- Modal -->
<div id="token" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Barer Token</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Add this to your header</p>
          <p class="authkey" id="authkey"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
<!-- Config Mysql -->
  <div id="configMysql" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>MySQL Configuration</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form id="configure" onsubmit="configureMysql()">
            <div class="form-group">
              <label for="host">Host</label>
              <input type="text" class="form-control" id="host" placeholder="localhost">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="root">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>

  <!-- Enable modal-->
  <div id="enableUpload" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>Enable Upload</h3>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-inline">
              <input type="checkbox" style="width: 20px;" id='chk-enable-upload' data-toggle="toggle" data-on="Enabled" data-off="Disabled">
              <h6 class="text-muted" style="margin-left: 20px;">Enable api creation from external upload call</h6>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
      
      <% if(domains !== null && domains.length !== 0){%>
        <div class="row">
          <table class="table table-hover">
            <thead>
              <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Mocks Count</th>
                  <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% domains.forEach(function(domain,index){ %>
              <tr>
                <th scope="row"><%= domain.domainName%></th>
                <td>
                  <p class="domaincount">
                    <%= domain.pathCount%>
                </p>
              </td>
                <td>
                  <button type="button" class="btn btn-primary" onClick="location.href='/admin/domain/paths/<%=domain.domainId%>'">
                    Manage
                  </button>
                  <button type="button" class="btn btn-success" onClick="location.href='/admin/domain/edit/<%=domain.domainId%>'">
                    Edit
                  </button>
                  <button type="button" class="btn btn-danger" onClick="deleteDomain('<%=domain.domainId%>')">
                    Delete
                  </button>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
  
        <%} %>
    </div>
  </body>
</html>