<html>
    <head>
        <title>Schdulers</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        />
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"
        ></script>
    
        <link href="/admin/styles/viewPath.css" rel="stylesheet" />
        <script src="/admin/scripts/viewShcheduler.js"></script>
      </head>
  <body>
    <div class="container">
        <header>
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-2">
                <img class="mb-4" src="/admin/imgs/logo.png" alt="" height="75" />
              </div>
              <div class="col-8 text-center">
              </div>
              <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="/admin/logout"
                  >Sign out</a
                >
              </div>
            </div>
          </header>

          <div class="row buttonlist">
              <button type="button" class="btn btn-dark" onClick="location.href='/admin/domain'">Domains</button>
              <button type="button" class="btn btn-success" onClick="location.href='/admin/schedulers/new'">New Scheduler</button>
          </div>

          <% if(schedulers !== null && schedulers.length !== 0){ %>
            <table class="table table-hover">
              <thead>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Interval</th>
                <th scope="col">Actions</th>
              </thead>
              <tbody>
                <% schedulers.forEach(function(schduler){ %>
                <tr>
                  <td scope="row"><%= schduler.name%></td>
                  <td>
                    <p class="method">
                      <%= schduler.status %>
                    </p>
                  </td>
                  <td>
                    <p >
                      <%= schduler.interval %>
                    </p>
                  </td>
                  <td>
                      <button type="button" class="btn btn-danger btn-sm" onClick="deletePath('<%=schduler.id%>')">
                        Delete
                      </button>
                      <% if(schduler.status === 'RUN'){ %>
                      <button type="button" class="btn btn-info btn-sm" onClick="handleOnRunScheduler('<%=schduler.id%>','OFF')">
                        Stop
                      </button>
                      <% }else{ %>
                      <button type="button" class="btn btn-warning btn-sm" onClick="handleOnRunScheduler('<%=schduler.id%>','RUN')">
                        Run
                      </button>
                      <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } %>
    </div>
  </body>
</html>
