<html>
    <head>
        <title><%= domainName%> Paths</title>
        <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous"
        />
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"
        ></script>
    
        <link href="/admin/styles/viewPath.css" rel="stylesheet" />
        <script src="/admin/scripts/viewPath.js"></script>
      </head>
  <body>
    <div class="container">
        <header>
            <div class="row flex-nowrap justify-content-between align-items-center">
              <div class="col-2">
                <img class="mb-4" src="/admin/imgs/logo.png" alt="" height="75" />
              </div>
              <div class="col-8 text-center">
              </div>
              <div class="col-2 d-flex justify-content-end align-items-center">
                <a class="btn btn-sm btn-outline-secondary" href="/admin/logout"
                  >Sign out</a
                >
              </div>
            </div>
          </header>

          <h1><%= domainName%></h1>
          <div class="row buttonlist">
              <button type="button" class="btn btn-dark" onClick="location.href='/admin/domain'">Domains</button>
              <button type="button" class="btn btn-success" onClick="location.href='/admin/domain/paths/<%=domainId%>/new'">New Path</button>
          </div>

          <% if(endpoints !== null && endpoints.length !== 0){ %>
            <table class="table table-hover">
              <thead>
                <th scope="col">Name</th>
                <th scope="col">Path</th>
                <th scope="col">Method</th>
                <th scope="col">Actions</th>
              </thead>
              <tbody>
                <% endpoints.forEach(function(endpoint){ %>
                <tr>
                  <th scope="row"><%= endpoint.pathName%></th>
                  <td>
                    <p class="path">
                      <%= domainName%><%= endpoint.pathUrl%>
                    </p>
                  </td>
                  <td>
                    <p class="method">
                      <%= endpoint.pathMethod%>
                    </p>
                  </td>
                  <td>
                      <button type="button" class="btn btn-success btn-sm" onClick="location.href='/admin/domain/paths/<%=domainId%>/<%=endpoint.pathId%>/edit'">
                        Edit
                      </button>
                      <button type="button" class="btn btn-danger btn-sm" onClick="deletePath('<%=domainId%>','<%=endpoint.pathId%>')">
                        Delete
                      </button>
                      <button type="button" class="btn btn-info btn-sm" onClick="window.open('<%=apiUrl%><%=domainName%><%=endpoint.pathUrl%>','_blank')">
                        Go
                      </button>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% } %>
    </div>
  </body>
</html>
